.container-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-div{
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.skills-image{
    height: 50%;
    width: 50%;
    margin-right: 15%;
}
.social-icon-skills {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 14px;
    gap:2rem;
}
.social-icon-skills a {
    width: 6rem;
    height: 6rem;
    background: rgba(227, 226, 226, 0.92);
    display: inline-flex;
    gap:5rem;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon-skills a::before {
    content: "";
    width: 6rem;
    height: 6rem;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease-in-out;
}
.social-icon-skills a:hover::before {
    transform: scale(1);
}
.social-icon-skills a img {
    width: 70%;
    height: 70%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.social-icon-skills a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.skills-lists{
    margin-top: 2rem;
}

.skills-lists li{
    font-size: large;
    margin-top: 1rem;
}
